[Desktop Entry]
Categories=Utility
Comment[en_GB]=paulsenik.de
Comment=paulsenik.de
Exec=java -jar inputsink.jar
GenericName[en_GB]=An application for binding any Input to different Macros or Actions on your OS.
GenericName=An application for binding any Input to different Macros or Actions on your OS.
Icon=_HOME_/.inputsink/Inputsink.png
MimeType=
Name[en_GB]=Inputsink
Name=Inputsink
Path=_HOME_/.inputsink/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=0.1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-autostart-after=panel
