[Desktop Entry]
Name=RSI Launcher
Type=Application
Categories=Game;ActionGame;AdventureGame;
Comment=RSI Launcher
Keywords=Star Citizen;StarCitizen
StartupNotify=true
StartupWMClass=rsi launcher.exe
Icon=rsi-launcher.png
Exec="/Holz/Wine/star-citizen/sc-launch.sh"
Path=/Holz/Wine/star-citizen/dosdevices/c:/Program\sFiles/Roberts\sSpace\sIndustries/RSI\sLauncher