[Desktop Entry]
Categories=Media
Comment[en_GB]=paulsenik.de
Comment=paulsenik.de
Exec=java -jar '/home/paulsenik/.ryolith/ryolith.jar'
GenericName[en_GB]=Manages all audioprocesses of different programs. Programs can be grouped together into a dedicated volume-control
GenericName=Manages all audioprocesses of different programs. Programs can be grouped together into a dedicated volume-control
GenericName[de_DE]=Verwaltet alle Audioprozesse verschiedener Programme. Einzelne Programme können in einer eigenen Lautstärkeregelung gruppiert werden.
Icon=/home/paulsenik/.ryolith/Icon.png
MimeType=
Name[en_GB]=Ryolith
Name=Ryolith
Path=/home/paulsenik/.ryolith/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=2.0.1
X-KDE-SubstituteUID=false
X-KDE-autostart-after=panel
