[Desktop Entry]
Categories=Media
Comment[en_GB]=paulsenik.de
Comment=paulsenik.de
Exec=java -jar _HOME_/.ryolith/ryolith.jar
GenericName[en_GB]=Manages all audioprocesses of different programs. Programs can be grouped together into a dedicated volume-control
GenericName=Manages all audioprocesses of different programs. Programs can be grouped together into a dedicated volume-control
GenericName[de_DE]=Verwaltet alle Audioprozesse verschiedener Programme. Einzelne Programme können in einer eigenen Lautstärkeregelung gruppiert werden.
Icon=_HOME_/.ryolith/Icon.png
Name[en_GB]=Ryolith
Name=Ryolith
Path=_HOME_/.ryolith/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=2.0.1
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-autostart-after=panel
